* {
    box-sizing: border-box;
}

:root {
    --primary-color: #a306b6;
    --secondary-color: #FAF45E;
    --background-primary: #ebf2fa;
    --light: white;
    --dark: black;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-delay: 500ms;
    background-color: var(--background-primary);
}

header {
    width: 100%;
    height: 2rem;
    border: 1px solid var(--dark);
    background-color: var(--primary-color);
    margin-bottom: 1rem;
    display: flex;
    position: sticky;
    top: 0;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
}

.wildfeedsLogo {
    width: 12%;
    height: 80%;

}

.wildfeedsTitle {
    color: var(--secondary-color);
    font-size: 100%;

}

a {
    display: flex;
    align-items: center;
}

.loggedUserName {
    color: var(--secondary-color);
    font-size: 100%;

}

.mainUserLogo {
    width: 1.7rem;
    height: 1.7rem;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    margin-inline: 0.8rem;
    margin-right: 0rem;

}

.createPost {
    border: 1px solid var(--dark);
    border-radius: 10px;
    padding: 0.5rem;

}

.basicStyleButton {
    border-radius: 28px;
    text-shadow: 1px 1px 3px var(--secondary-color);
    box-shadow: 0px 1px 1px var(--primary-color);
    color: var(--secondary-color);
    background: var(--primary-color);
    padding: 10px 20px 10px 20px;
    border: solid var(--secondary-color) 2px;
    margin-block: 0.5rem;
    margin-right: 1rem;
    border-radius: 10px;

}

.post {
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--background-primary);
    margin-block: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation-name: slide-in;
    animation-duration: 2s;
    animation-delay: 0s;

}

.postHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-bottom: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}

.postHeadLogoName {
    display: flex;
    align-items: center;
}

.userLogo {
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    margin-inline: 0.8rem;
}

.userName {
    font-size: 1rem;
    color: var(--secondary-color);
}

.buttonSettings {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
}

.buttonSettings:hover {
    transform: rotate(0.05rad);
    cursor: pointer;
}

.buttonSettings:active {
    box-shadow: 1px 1px 5px var(--secondary-color);

}

.buttonSettingsPicture {
    width: 1rem;
}


.postContent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.postContentTextPicture {
    display: flex;
    flex-direction: column;
    margin-inline: 2rem;
    align-items: center;
    justify-content: center;
}

.postContentPicture {
    width: 100%;
}

.buttonBox {
    display: flex;
    flex-direction: row-reverse;
}

.commentsContainer {
    height: auto;
    display: none;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.commentBox {
    min-height: 50px;
    margin: 0 .2rem .5rem;
    display: flex;
}

.visible {
    display: block;
}

.commentsHeader {
    display: flex;
    margin: 0 0 0 auto;
    width: 80%;
}

.commentInput {
    width: 80%;
    margin-right: .3rem;
    padding: .5rem;
    margin-block: 0.5rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5)
}

.commentInput::placeholder {
    text-align: center;
}

.commentProfile {
    padding: .2rem;
    width: 20%;
}

.commentPicture {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    margin-inline: 0.8rem;
}

.commentBody {
    display: flex;
    flex-direction: column;
    width: calc(100% - 3rem);
    border: 1px solid;
    border-radius: 5px;
}

.commentName {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1rem;
    margin: 0;
    padding: .2rem 0 .2rem .2rem;
    border-bottom: 1px solid var(--primary-color);
}

.commentText {
    margin: 0;
    padding: .2rem;
    overflow-wrap: anywhere;
}